 *,
 *::after,
 *::before {
     padding: 0;
     margin: 0;
     box-sizing: inherit;
 }

 html {
     font-size: 62.5%; 
 }

 body {
     font-family: 'Lato', sans-serif;
     line-height: 1.7;
     padding: 3rem;
     color: $color-grey;
     box-sizing: border-box;
 }